{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/protocol.css' %}">
    <style>
        .jumbotron {
            min-height: 180px;
            background-image: url("{% static 'img/home_1.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0.9;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('.nav .na').on('click', function () {
                $('.na').removeClass('active');
                $(this).addClass('active');
                var type = $(this).attr('data-type');

                $('.item').each(function () {
                    if ($(this).attr('data-type') == type) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h2>PROTOCOL</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="nav" style="margin-top:30px;">
            {% for item in type %}
                {% if forloop.counter0 == 0 %}
                    <div class="na active" data-type="{{ item.0 }}">
                        {{ item.1 }}
                    </div>
                {% else %}
                    <div class="na" data-id="step1" data-type="{{ item.0 }}">
                        {{ item.1 }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="content">
            {% for item in protocol %}
                {% if item.type != type.0.0 %}
                    <div class="item" data-type="{{ item.type }}" style="display:none;">
                {% else %}
                    <div class="item" data-type="{{ item.type }}" style="display:block;">
                {% endif %}
                    <div class="image">
                        {% if item.video %}
                            <a href="{{ item.video }}" target="_blank">
                                <img src="{{ item.get_image_url }}" width="300" height="168"/>
                            </a>
                        {% else %}
                            <img src="{{ item.get_image_url }}" width="300" height="168"/>
                        {% endif %}
                    </div>
                    <div class="sub-content">
                        {% if item.video %}
                            <a href="{{ item.video }}" target="_blank">
                                <h3>{{ item }}</h3>
                            </a>
                        {% else %}
                            <h3>{{ item }}</h3>
                        {% endif %}
                        <p>{{ item.get_presenter }}</p>
                        {% if item.paper_link %}
                            <a href="{{ item.paper_link }}" class="paper" target="_blank">ORIGINAL PAPER</a>
                        {% endif %}
                        {% if item.korean %}
                            <a href="{{ item.korean }}" class="korean" target="_blank">KOREAN VER.</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}