.jumbotron {
    color: black;
    border-bottom: 1px solid #c8c8c8;
}

.jumbotron h3 {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    letter-spacing: -.01em;
    width: 50px;
}

.jumbotron p {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
}

.jumbotron h4 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.jumbotron a {
    border: 1px solid #c8c8c8;
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    font-weight: 300;
    padding: 3px 8px 3px 8px;
}

.jumbotron .date {
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
}

.content {
    margin-top: 30px;
    padding: 0 30px 0 30px;
}