{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/research.css' %}">
    <style>
        .jumbotron {
            min-height: 300px;
            background: white;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/research.js' %}"></script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h3>{{ vision.title  }}</h3>
            <p>{{ vision.content }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="nav" style="margin-top:30px;">
            {% for item in research %}
                {% if forloop.first %}
                    <div class="na active" data-id="step{{ forloop.counter }}">
                        {{ item.title }}
                    </div>
                {% else %}
                    <div class="na" data-id="step{{ forloop.counter }}">
                        {{ item.title }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% for item in research %}
            {% if forloop.first %}
                <div class="step{{ forloop.counter }} item" style="display:block">
                    {{ item.content|safe }}
                </div>
            {% else %}
                <div class="step{{ forloop.counter }} item" style="display:none;">
                    {{ item.content|safe }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}