footer {
    height: 60px;
    position: relative;
    margin-top: 100px;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

footer img {
    width: 100px;
    margin-top: 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

footer .footer_cnt {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 300;
    color: rgba(0, 0, 0, .5);
}