{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style type="text/css">
        .jumbotron {
            background-image: url("{% static 'img/home_1.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            opacity: 0.9;
        }
    </style>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container" style="">
            <div class="title">
                <h2 class="padded">Welcome to</h2>
                <h2 style="padding-top: 0px;"><span id="c">C</span>ell <span id="s">S</span>ignaling and <span
                        id="b">B</span>io <span
                        id="i">I</span>maging
                    Laboratory</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="intro">
            <div class="step step1">
                <a href="#">
                    <span>01</span>
                    <h2>Protocols & Lectures</h2>
                    <h3>프로토콜 및 논문을 소개합니다</h3>
                </a>
            </div>
            <div class="step step2">
                <a href="{% url 'research' %}">
                    <span>02</span>
                    <h2>Research Area</h2>
                    <h3>연구분야를 소개합니다</h3>
                </a>
            </div>
            <div class="step step3">
                <a href="{% url 'publication' type='journal' %}">
                    <span>03</span>
                    <h2>Publication</h2>
                    <h3>논문자료를 알려드립니다</h3>
                </a>
            </div>
            <div class="step step4">
                <span>04</span>
                <h2>Lecture</h2>
                <h3>CSBI연구실의 강의를 소개합니다</h3>
            </div>
        </div>
        <div class="news">
            <div class="notice">
                <div class="header">
                    <h2>
                        NEWS & NOTICE
                        <span>
                            <a href="{% url 'notice_list' type='notice' %}">
                                + more
                            </a>
                        </span>
                    </h2>
                </div>
                <div class="content">
                    <div class="notice">
                        {% for obj in notice %}
                            <div class="item">
                                <a href="{{ obj.get_absolute_url }}">{{ obj|truncatechars:30 }}</a>
                                <span>{{ obj.updated|date:"Y/m/d" }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="news">
                        {% for obj in news %}
                            <div class="item">
                                <a href="{{ obj.get_absolute_url }}">{{ obj|truncatechars:30 }}</a>
                                <span>{{ obj.updated|date:"Y/m/d" }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="research">
            <div class="header">
                <h2>RESEARCH</h2>
                <div class="tag">
                    <a href="{% url 'research' %}">Tumor biology</a>
                    <a href="{% url 'research' %}">Bioimaging</a>
                    <a href="{% url 'research' %}">Bioinformatics</a>
                    <a href="{% url 'research' %}">Exosome Engineering</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}